/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require interface_utils/scaffolds
 *= require jquery-ui
 *= require authenticated_system/application
 *= require complex_scripts/application
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.item-icon-delete, .item-icon-edit, .item-icon-manage, .item-icon-new, .item-icon-view{
	padding:0 0 0 18px;
	display:inline-block;
	background-color:transparent; 
	background-position:2px 2px;
	background-repeat:no-repeat;
	height:16px;
}
.item-icon-delete{
	background-image: image-url('interface_utils/item-delete.png');
}
.item-icon-edit{
	background-image: image-url('interface_utils/item-edit.png');
}
.item-icon-manage{
	background-image: image-url('interface_utils/item-manage.png');
}
.item-icon-new{
	background-image: image-url('interface_utils/item-new.png');
}
.item-icon-view{
	padding:0 0 0 22px;
	background-image: image-url('interface_utils/item-view.png');
}